<h1 class="h2 my-4">Check the current forecast in your area!</h1>

<div class="row mb-3">
  <div class="col col-lg-10 col-xl-9">
    <%= form_with url: root_path, method: :get, class: '' do |form| %>
      <%= form.label :address, 'Search by Address, City, or Zip Code:', class: 'form-label' %>

      <div class="input-group mb-3">
        <%= form.search_field :address, class: 'form-control', autofocus: (@forecast.query.blank? || @forecast.errors.any?), value: @forecast.query %>
        <%= form.button nil, class: 'btn btn btn-outline-primary' do %>
          <i class="bi bi-search" aria-hidden="true"></i> Search
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if @forecast.errors.none? %>
  <h2 class="h4">Forecast outlook as of <%= format_datetime @forecast.datetime, weekday: true %></h2>
  <table class="table align-middle">
    <thead>
      <tr>
        <th>Location</th>
        <th>Current Temp</th>
        <th>Min Temp</th>
        <th>Max Temp</th>
        <th>Condition</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="forecast-location"><%= "#{@forecast.location_name}, #{@forecast.location_region}" %></td>
        <td class="forecast-current-temp">
          <%= "#{@forecast.current_temp_f.to_i}°(F) | #{@forecast.current_temp_c.to_i}°(C)" %>
          <i class="h5 mb-0 bi bi-<%= temperature_icon(@forecast.current_temp_f) %>"></i>
        </td>
        <td class="forecast-min-temp">
          <%= "#{@forecast.min_temp_f.to_i}°(F) | #{@forecast.min_temp_c.to_i}°(C)" %>
          <i class="h5 mb-0 bi bi-<%= temperature_icon(@forecast.min_temp_f) %>"></i>
        </td>
        <td class="forecast-max-temp">
          <%= "#{@forecast.max_temp_f.to_i}°(F) | #{@forecast.max_temp_c.to_i}°(C)" %>
          <i class="h5 mb-0 bi bi-<%= temperature_icon(@forecast.max_temp_f) %>"></i>
        </td>
        <td class="forecast-condition"><%= @forecast.condition %><img class="img-fluid" src="<%= @forecast.icon %>" alt="weather condition icon"/></td>
      </tr>
    </tbody>
  </table>
<% end %>
